<h1>Listing pins</h1>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <%= render @pins %>
    </tbody>
</table>

<br />

<%= link_to 'New Email', new_pin_path %>