<div class="pagetopspacing center hero-unit">
    <h2>Welcome to Accounting and Finance Bootcamp</h2>

    <p>
	  Starting in 2014, we will be launching a 3-month intensive bootcamp in an intimate class setting where we will teach professional Accounting and Finance. 
	</p>

	<p>
	  	Through partnerships with the Big 4 Public Accounting Firms (PwC, Deloitte, Ernst & Young, and KPMG), our goal is to mentor you and have you <strong>ready immediately for an industry level job</strong>. We have no age minimum or degree requirement.
	</p>

	<p>
	  	If you are interested, please <strong>sign up</strong> to our email list and we will notify you when we have more information on our application process.
	</p>

	<%= render 'pins/form' %>
</div>

