<div class="pagetopspacing center hero-unit">
    <h2>Welcome to Accounting and Finance Bootcamp</h2>

    <p>
	  Starting in 2014, we will be launching a 3-month intensive bootcamp in an intimate class setting where we will teach professional Accounting and Finance. 
	</p>

	<p>
	  	Through partnerships with the Big 4 Public Accounting Firms (PwC, Deloitte, Ernst & Young, and KPMG) and industry leaders, our goal is to mentor you and have you <strong>ready immediately for an industry level job or internship</strong>. We have no age minimum or degree requirement. We are looking for individuals whoare self-directed and motivated. 
	</p>

	<p>
	  Our program will include the following:
		<ul>
		<li>Fundamental Financial Accounting</li>
		<li>How to Use Software: Excel, Quickbooks, Oracle, SAP, etc.</li>
		<li>Business Professionalism and Ethics</li>
		<li>And more!</li>
		</ul>
	</p>

	<p>
	  	If you complete our program, we will work with you and our partners to place you at an industry job or internship immediately.
	</p>

	<p>
	  	If you are interested or have any questions, you can reach us at 
	  	<a class = "homeparagraph" href="mailto:sfafbootcamp@gmail.com">sfafbootcamp@gmail.com</a>.
		Or, if you would like us to notify you when we have more information on our application process, please <strong>sign up</strong> to our email list.
	</p>

	<br />

	<%= render 'pins/form' %>

	<br />

</div>

