@import 'bootstrap';

@import 'bootstrap-responsive';

body { 
  background: url(/pictures/bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pagetopspacing{
	margin-top:40px;
}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

.homeparagraph{
  color:blue;
  font-style:italic;
}

.strikethrough{
  text-decoration: line-through;
  color:red;
}

.indent{
  margin-left:100px;
}

.container {
    position: relative;
    width: 60%;
}

.hero-unit{

}

h2 {
  font-size: 24px;
}

p {
  font-size: 15px;
}

ul {
  font-size: 15px;
}